:root{
    --red:#FF0000;
    --grey: rgb(66, 66, 66);
}
*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body{
    background-image: url(../photo/bg-1.jpg);
    background-color: black;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
}

.nav-link.active{
    border-bottom: 3px solid var(--red);
}

.nomyly-produk{
    color: var(--red);
}

.text-jumbotron{
    padding: 100px 0px 50px 40px;
}

.text-jumbotron h1{
    font-size: 50px;
}

.text-jumbotron h4{
    font-size: 30px;
}

/* arrow down animation */

.div-arrow{
    width: 50px;
    height: 150px;
    margin-bottom: 150px;
}

.span-arrow{
    width: 5px;
    height: 27px;
    border-radius: 5px;
    background-color: var(--red);
    margin: 6px;
    animation: move 2s infinite ease-in-out;
}

.span-arrow:nth-last-of-type(1){
    transform: rotate(45deg);
}

.span-arrow:nth-last-of-type(2){
    transform: rotate(-45deg);
}

@keyframes move{
    0%{
        margin-top: 0;
    }

    50%{
        margin-top: 100px;
    }

    100%{
        margin-top: 0;
    }
}

/* tentang-kami */

.tentang-kami{
    background-color: black;
    border-bottom: 1px solid var(--red);
    margin-bottom: 100px;
}

.img-tentang-kami img{  
    animation: sekilas 10s infinite;
}

@keyframes sekilas {
    0%{
        filter: blur(3px);
        animation-duration: 1s;
    }

    10%{
        filter: blur(2px);
        animation-duration: 1s;
    }

    20%{
        filter: blur(1px);
        animation-duration: 1s;
    }

    25% {
        filter: grayscale(30%);
    }

    30% {
        filter: grayscale(10%);
    }

    50% {
        filter: grayscale(1%);
    }
    
    100% {
        filter: none;
    }
  }

.sekilas-kami{
    border-left: 5px solid var(--red);
    padding-left: 8px;
}

.anggota-avenir{
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
}

.anggota{
    background-color: black;
    border-left: 1px solid var(--red);
    border-right: 1px solid var(--red);
}

.card-body{
    color: var(--red);
}

.btn-anggota:hover{
    color: var(--grey);
}

.offcanvas{
    height: 90vh;
    width: 100vw;
}

.offcanvas-header{
    background-image: linear-gradient(to bottom, black, rgb(66, 66, 66));
}

.offcanvas-body h5{
    border-bottom: 1px solid var(--red);
}
/* komitmen */
.komitmen{
    background-image: linear-gradient(to bottom, black, rgb(66, 66, 66));
}

.detail-komit{
    border: 1px solid var(--grey);
    border-radius: 100px;
}


/* contact */

.contact{
    border-left: 1px solid var(--grey);
    border-right: 1px solid var(--grey);
    background-image: linear-gradient(to bottom, black, rgb(30, 30, 30), rgb(40, 40, 40));
}

.header-contact{
    border-bottom: 1px solid var(--grey);
    
}

.contact-form form .form-control{
    border: 1px solid var(--red);
    background-color: transparent;
    
}

.avenir-contact-form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
}
  
.avenir-contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
}
  
.avenir-contact-form ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
}

.avenir-contact-form{
    background-color: #000000;
}

.send-button{
    color: var(--red);
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--red);
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}

.button-loading{
    color: var(--red);
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--red);
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}

.send-button:hover{
    color: #000000;
    font-weight: 600;
    background-color: var(--red);
}

.spinner-border{
    width: 15px;
    height: 15px;
}

.contact-side{
    font-weight: 500;
}

/* footer */

.footer{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--orange);
    color: rgb(255, 255, 255);
    border-radius: 100%;
    font-size: 25px;
    margin-right: 20px;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icon:hover {
    color: var(--red);
}

.alamat-avenir, .no-wa, .email{
    text-decoration: none;
}